:root {
    --green: #4caf50;
    --black: #000000;
    --gray: #757575;
    --white: #f2f2f2;
    --danger: #ff1e00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    color: var(--black);
    max-width: 1440px;
    padding-inline: 100px;
    margin-inline: auto;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: initial;
}

img {
    width: 100%;
}