.container {
    max-width: 1240px;
    width: 100%;
    height: 100%;
    padding-block: 36px;
}

.app {
    display: flex;
    gap: 64px;
    margin-top: 24px;
    overflow: hidden;

}

.aside {
    position: relative;
}

.aside, .form {
    width: 610px;
    height: 864px;
    overflow: hidden;
}

.img {
    max-width: 100%;
    opacity: 30%;
}


.info > h1 {
    position: absolute;
    top: 5%;
    left: 5%;
}

.info > div {
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.form {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

fieldset {
    border: none;
    width: 100%;
}

fieldset > legend {
    margin-bottom: 24px;
}

legend {
    font-size: 36px;
    font-weight: 600;
}

fieldset > .err-form {
    margin-bottom: 24px;
}

.checkbox {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 4px;
}

.checkbox > input {
    width: auto;
    border: red;
}

.register {
    width: 60%;
}

.register > button {
    border: none;
    background-color: var(--green);
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    transition: all .1s
}

.register > button:hover {
    opacity: 90%;
}

.register > span {
    font-size: 14px;
}

.register-link:hover {
    color: var(--green);
}

.err-message {
    color: var(--danger);
    font-size: 14px;
}

.error-banner {
    background-color: var(--gray-light);
    border: 1px solid var(--gray);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    color: var(--danger);
}
